<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    
    <display-name>Expense Splitter Application</display-name>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>summary.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Servlet Mappings (if @WebServlet doesn't work) -->
    <servlet>
        <servlet-name>AddMemberServlet</servlet-name>
        <servlet-class>servlet.AddMemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMemberServlet</servlet-name>
        <url-pattern>/AddMemberServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddExpenseServlet</servlet-name>
        <servlet-class>servlet.AddExpenseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddExpenseServlet</servlet-name>
        <url-pattern>/AddExpenseServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ClearDatabaseServlet</servlet-name>
        <servlet-class>servlet.ClearDatabaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClearDatabaseServlet</servlet-name>
        <url-pattern>/ClearDatabaseServlet</url-pattern>
    </servlet-mapping>
    
</web-app>